.entry-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 50px;

  > div {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .round {
      display: flex;
      align-items: center;
      margin-bottom: 12px;

      > span {
        margin-right: 8px;
      }

      > select {
        width: 100px;
        height: 30px;
      }
    }

    > h1 {
      text-align: center;
      border-bottom: 1px #acacac solid;
      padding-bottom: 12px;
      font-size: 3em;
    }

    > button {
      width: 200px;
      height: 50px;
      outline: none;
      border-width: 0;
      font-size: 1.5em;
      background-color: #ecf0f1;

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        opacity: 0.6;
      }
    }
  }
}
